<div xmlns:th="http://www.thymeleaf.org" class="row js-devices-container">
    <div class="card">
        <div class="card-header card-header-primary">
            <div>
                <h4 class="card-title js-device-name">Dashboard - [<span th:text="${deviceName}"></span>]</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <a th:href="@{/device/rename}" class="btn btn-info col-10">Rename device</a>
            </div>
            <th:block th:if="${!isConnected}">
                <div class="row justify-content-center">
                    <a th:href="@{/device/connect}" class="btn btn-success col-10">Connect</a>
                </div>
            </th:block>
            <th:block th:if="${isConnected}">
                <div class="row justify-content-center">
                    <a th:href="@{/device/disconnect}" class="btn btn-warning col-10">Disconnect</a>
                </div>
            </th:block>
            <div class="row justify-content-center">
                <a th:href="@{/device/unset}" class="btn btn-danger col-10">Unset</a>
            </div>
            <form class="row justify-content-center" th:action="@{/logout}" method="post">
                <input th:href="@{/logout}" type="submit" value="Logout" class="btn btn-danger col-10">
            </form>
        </div>
    </div>
</div>